<footer>
    <ul>
        <a href="https://ko-fi.com/abdullahmorrison" target="_blank">
            <li>
                <img src="../../assets/footer/coffeeCup.svg" alt="Coffee Cup">
                <p>Buy Me a Coffee :)</p>
            </li>
        </a>
        <a href="https://github.com/abdullahmorrison" target="_blank">
            <li>
                <img src="../../assets/footer/gitHubLogo.svg" alt="GitHub Logo">
                <p>View Git Repo</p>
            </li>
        </a>
        <a href="mailto:abdullahmorrison@gmail.com">
            <li>
                <img src="../../assets/footer/emailIcon.svg" alt="Email Icon">
                <p>Contact Developer</p>
            </li>
        </a>
    </ul>
</footer>