a{
    color: black;
    text-decoration: none;
}
footer{
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: center;
    padding: 30px 20px;
    ul{
        list-style: none;
        display: flex;
        align-items: flex-end;
        text-align: center;
        li{
            margin: 0 20px;
        }
    }
}
@media only screen and (max-width: 535px) {
    footer{
        padding: 20px 0;
        ul{
            li{
                margin: 0 5px;
                font-size: small;
                img{
                    width: 30px;
                }
            }
        }
    }
}