nav{
    background-color: var(--primary-color);
    color: white;
    font-size: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    img{
        margin-right: 10px;
    }
}