.chip{
    //Position of the Chip on the tile
    position: absolute;
    top: 25px;
    left: 25px;

    //Chip style
    background-color: var(--primary-color);
    border-radius: 50%;
    outline: 2px solid black;
    padding: 5px 5px 6px 5px; //6px centers the img
    width: 70px;
    height: 70px;

    //position of the image in the chip
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        width: 55px;
        height: 55px;
    }
}