.switch-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 100px;
  margin: 15px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid black;
  background-color: white;
}

.slider:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  left: 4px;
  top: 5px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateY(48px);
  -ms-transform: translateY(48px);
  transform: translateY(48px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  background-color: var(--primary-color);
  border-radius: 50%;
}

@media only screen and (max-width: 1200px) {
  .switch-container {
    flex-direction: row;
  }
  .switch {
    height: 50px;
    width: 100px;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(48px);
    -ms-transform: translateX(48px);
    transform: translateX(48px);
  }
}
@media only screen and (max-width: 725px) {
  .switch {
    height: 40px;
    width: 80px;
  }
  .slider:before {
    height: 30px;
    width: 30px;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(48px);
    -ms-transform: translateX(48px);
    transform: translateX(40px);
  }
  @media only screen and (max-width: 475px) {
    .switch-container {
      label {
        font-size: small;
      }
    }
  }
}
