<div class="description">
    <h2>Description</h2>
    <p>This is a website where you can play a bingo game about the Twitch streamer Maya Higa.</p>

    <h2>Intructions</h2>
    <p>Watch <a href="https://twitch.tv/maya" target="_blank" (click)="trackGoogleAnalytics()">Maya’s stream</a>. If any of the actions on the board happen during her stream, add a chip on that tile.</p>

    <h3>How to Add/Remove a Chip:</h3>
    <p>Click on a tile to add a chip. Click the same tile to remove a chip.</p>

    <h3>How to Win (Bingo!):</h3>
    <p>Fill a row, column or diagonal with chips.</p>

    <h3>How to Get a Blackout (A Better Win)</h3>
    <p>Fill the entire board with chips.</p>
</div>