<div id="myModal" class="modal">
    <div class="modal-content">
        <div class="header">
            <span class="close">&times;</span>
        </div>
        <div class="main">
            <h2 class="title">BINGO!</h2>
            <div class="body">
                <p>Placeholder Text</p>
            </div>
            <div class="buttons">
                <button class="focus">Continue Playing</button>
                <button>New Game</button>
            </div>
        </div>
    </div>
</div>