<div class="description">
    <h2>Description</h2>
    <p>This is a website where you can play a bingo game about the Twitch streamer SuperTF.</p>

    <h2>Intructions</h2>
    <p>Watch <a href="https://twitch.tv/maya" target="_blank">Maya’s stream</a>. If any of the actions stated on the board happens during his stream, add a chip on the action committed.</p>

    <h3>How to Add/Remove a Chip:</h3>
    <p>Click on the tile that contains the thing that occurred to add the chip. Click again to remove the chip</p>

    <h3>How to Win (Bingo!):</h3>
    <p>You win if you have a full row, column, or diagonal filled with chips.</p>

    <h3>How to Get a Blackout (A Better Win)</h3>
    <p>Fill the entire board with chips</p>
</div>