.description{
    background-color: white;
    padding: 20px;
    outline: 1px solid black;

    max-width: 300px;

    p{
        margin-bottom: 10px;
    }
}
@media only screen and (max-width: 435px) {
    .description{
        max-width: 80vw;
        h2{
            font-size: large;
        }
        h3{
            font-size: medium;
        }
        p{
            font-size: small;
        }
    }
}