.description{
    background-color: white;
    padding: 20px;
    outline: 1px solid black;

    max-width: 300px;

    p{
        margin-bottom: 10px;
    }
}
@media only screen and (max-width: 1200px) {
    .description{
        margin-bottom: 20px;
    }
}