/* You can add global styles to this file, and also import other style files */
:root{
    --primary-color: #636A60;
    --secondary-color: #F9EEE7;
    --tertiary-color: #A8A8A8;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--secondary-color);
}