.chip{
    //Position of the Chip on the tile
    position: absolute;
    top: 25px;
    left: 25px;

    //Chip style
    background-color: var(--primary-color);
    border-radius: 50%;
    outline: 2px solid black;
    padding: 5px 5px 6px 5px; //6px centers the img
    width: 70px;
    height: 70px;

    //position of the image in the chip
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        width: 55px;
        height: 55px;
    }
}
@media only screen and (max-width: 725px) {
    .chip{
        top: 18px;
        left: 18px;

        width: 60px;
        height: 60px;
        img{
            width: 50px;
            height: 50px;
        }
    }
}
@media only screen and (max-width: 600px) {
    .chip{
        top: 20px;
        left: 10px;

        width: 50px;
        height: 50px;
        img{
            width: 40px;
            height: 40px;
        }
    }
}
@media only screen and (max-width: 475px) {
    .chip{
        width: 40px;
        height: 40px;
        img{
            width: 30px;
            height: 30px;
        }
    }
}