.board-tile{
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 2px;
    outline: 1px solid black;

    width: 125px;
    height: 125px;

    position: relative;//For the chip
    img{
        max-width: 80px;
        max-height: 60px;
        font-size: small;
    }
    label{
        font-size: small;
    }
}
.board-tile:hover{
    background-color: var(--hover-color);
    cursor: pointer;
}