.board-tile{
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 2px;
    outline: 1px solid black;

    width: 125px;
    height: 125px;

    position: relative;//For the chip
    img{
        max-width: 80px;
        max-height: 60px;
        font-size: small;//img alt text
    }
    label{
        font-size: small;
    }
}
.board-tile:hover, .board-tile>*:hover{
    background-color: var(--hover-color);
    cursor: pointer;
}

@media only screen and (max-width: 725px) {
    .board-tile{
        max-width: 100px;
        max-height: 100px;
        img{
            max-width: 50px;
            max-height: 40px;
            font-size: x-small;//img alt text
        }
        label{
            font-size: x-small;
        }
    }
}
@media only screen and (max-width: 600px) {
    .board-tile{
        max-width: 75px;
        max-height: 100px;
    }
}
@media only screen and (max-width: 475px) {
    .board-tile{
        max-width: 65px;
        max-height: 100px;
        img{
            max-width: 45px;
            max-height: 40px;
            font-size: xx-small;//img alt text
        }
        label{
            font-size: xx-small;
        }
    }
}